@import "tailwindcss";



/* =========================
   BASE NORMALIZE
   ========================= */
@layer base {
  /* box-sizing */
  *, ::before, ::after {
    box-sizing: border-box;
  }

  /* html / body */
  html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    scroll-behavior: smooth;
  }

  body {
    @apply m-0 bg-white text-gray-900 antialiased;
    font-feature-settings: "kern";
  }

  /* typography */
  h1, h2, h3, h4, h5, h6 {
    @apply  leading-tight;
  }

  p {
    @apply leading-relaxed;
  }

  /* links */
  a {
    @apply no-underline;
  }

  /* images */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  /* lists */
  ul, ol {
    @apply list-none p-0 m-0;
  }

  /* forms */
  button,
  input,
  select,
  textarea {
    @apply  bg-transparent border-0 outline-none;
  }

  button {
    @apply cursor-pointer;
  }

  textarea {
    resize: vertical;
  }

  /* tables */
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.textTyping {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1s steps(20) forwards;
}